header {
    display: inline-block; 
    background-color: #131313;
    color: #A98642;
    font-family: 'Oswald', sans-serif;
    position: static;
    align-items: center;
    padding: 1em;
    font-size: 14px;
    width: 100%;
    grid-area: header;
    nav {
        button {
            display: inline-block;
            text-align: center;
            align-items: center;
            color: #bbbbbb;
        }
        div {
            ul li {
                display: inline-block;
                a {
                display: inline-block;
                color: #bbbbbb;
                text-decoration-line: none;
                list-style: none;
                align-items: center;
                font-size: 12px;
                padding: 2em 4em;
                }
        }
        }
    }
}

nav.navbar ul.nav li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #bbbbbb;
    text-align: center;
    align-items: center;
}

button.navbar-toggler { 
    align-items: center;
}

.nav-link {
    color: #bbbbbb;
}