@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

/*---------------------- index grid ----------------------*/

#index {
    height: 100vw;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                         "main"
                         "footer";
}

/*---------------------------------------------------------*/

#musc {
    padding: 1em;
    background-color: #080808;
    grid-area: musc;
}

#func {
    padding: 1em;
    background-color: #181818;
    grid-area: func;
}

#cross {
    padding: 1em;
    background-color: #080808;
    grid-area: cross;
}

#power {
    padding: 1em;
    background-color: #181818;
    grid-area: power;
}

/*---------------------------------------------------------*/

main {
    display: block;
    padding-top: 5em;
    padding-bottom: 2em;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    background-color: rgb(31, 31, 31);
    background-image: url(../image/fondomain.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: aliceblue;
    grid-area: main;
}

#texto {
    padding: 1em;
}

.socio {
    width: 100%;
}

.titpag {
    background-color: #AC9E83;
    width: 100%;
    color: #131313;
}

.lugares {
    font-size: 32px;
}

.salanombre {
    margin-top: 2em;
    background-color: #AC9E83;
    color: #131313;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

.salas {
    width: 800px;
    max-width: 100%;
    padding: 1em;
}

.sedes {
    height: 350px;
    width: 500px;
    max-width: 70%;
    max-height: 50%;
}

.juntar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.galeria {
    height: 300px;
    width: 400px;
    max-width: 70%;
    max-height: 50%;
    transition: height 1s, width 1s;
}

.galeria:hover {
    height: 350px;
    width: 500px;
}

.map {
    width: 400px;
    height: 350px;
    max-width: 100%;
    max-height: 10%;
}

.motiva {
    width: 100%;
}

/*---------------------- formulario ----------------------*/

.form {
    background-color: #131313;
    color: #f3f3f3;
    // font-size: 30px;
    margin: 0px auto;
    width: 70%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

button {
    background-color: #A98642;
    margin-top: 2em;
    padding: 0.5em 1em;
    // font-size: 16px;
}

input {
    width: 80%;
}

/*-----------------------------------------------------------*/

@media screen and (max-width: 576px) {
    header {
        position: static;
        display: inline-block;
    }
    main {
        padding: 1em;
        background-size: cover;
        display: inline-block;
    }
    .galeria {
        width: 50%;
        height: 70%;
    }
    .sedes {
        width: 100%;
        height: 70%;
    }
    .map {
        width: 90%;
    }
    .juntar {
        display: inline;
        width: 100%;
    }
    footer {
        font-size: 8px;
        color: white;
        background-color: rgb(0, 0, 0);
    }
}

@media screen and (max-width: 990px) and (min-width: 578px){
    header {
        position: static;
        display: inline-block;
    }
    main {
        width: 100vw;
        padding: 0em;
        background-size: cover;
        display: inline-block;
    }
    .galeria {
        width: 50%;
        height: 70%;
    }
    .sedes {
        width: 100%;
        height: 70%;
    }
    .map {
        width: 90%;
    }
    .juntar {
        display: inline;
        width: 100%;
    }
    input {
        width: 50%;
    }
    footer {
        font-size: 8px;
        color: white;
        background-color: rgb(0, 0, 0);
    }
}